<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Alarm App!
  </h1>
</div>
<div class="container txt">
    <div class="row">
      <div class="col-sm-4 colnm">
           HH:<br>
          <input [(ngModel)]="hour" #ctrl="ngModel" required>
      </div>
      <div class="col-sm-4 colnm">
        MM:<br>
          <input [(ngModel)]="minute" #ctrl="ngModel" required>
      </div>
      <div class="col-sm-4 colnm">
        SS:<br>
          <input [(ngModel)]="seconds" #ctrl="ngModel" required>
      </div>
    </div>
    
  </div><br>
  <div class="container txt">
  Add Alarm:
  <div class="row">
      <div class="col-sm-3 colnm">
          <input  #sethour  maxlength="2" placeholder="HH"  required>
      </div>
      <div class="col-sm-3 colnm">
          <input #setminute  maxlength="2" placeholder="MM"  required>
      </div>
      <div class="col-sm-4 colnm">
      <label class="checkbox-inline txt">
          Repeat:<br>
          <input type="checkbox" value="1" #sun (change)="logCheckbox(sun)">S
          <input type="checkbox" value="2" #mon (change)="logCheckbox(mon)">M
          <input type="checkbox" value="3" #tues (change)="logCheckbox(tue)">T
          <input type="checkbox" value="4" #wed (change)="logCheckbox(wed)">W
          <input type="checkbox" value="5" #thu (change)="logCheckbox(thu)">T
          <input type="checkbox" value="6" #Fri (change)="logCheckbox(Fri)">F
          <input type="checkbox" value="7" #sat (change)="logCheckbox(sat)">S
        </label>
       </div> 
      <div class="col-sm-2 colnm">
         <button (click)="Setalarm(sethour.value,setminute.value)">Set Alarm</button>
      </div>
    </div><br>
       

    <div class="" style="color:black;">
        <ul class="list-group" *ngFor="let user of AlarmArr;">
                <li class="list-group-item items-orange">
                    Alarm {{user + 1 }}
                    <button class="btn btn-sm btn-danger" style="float:right" (click)="Remove(user)" type="button">Close Alarm</button>
                </li>
              
            </ul>
    </div>